.chat-container {
  height: 65vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 85px;
}

/* 채팅 메시지 영역 */
.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;
  border: 2px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* 메시지 입력 영역 */
.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: white;
}

/* 참여자 목록 */
.participants-list {
  width: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.message .username {
  font-weight: bold;
}

.message .timestamp {
  font-size: 0.8em;
  color: gray;
}

.small-profile-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 1px solid #ccc;
}